body {
	background-color: ;
	font-family: helvetica;
}

.verborgen {
display: none;

}

.backgroundkader {

	background: url(https://timovandeputte.files.wordpress.com/2015/04/schermafbeelding-2015-04-01-om-20-28-38.png);
	max-width: 100%;

}

.selected {
	border-bottom: 4px solid black;
	
	
}

.kader {
width: 600px;
height: 800px;
margin-left: 400px;
background:white;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;

}

p {
border-top: 2px solid black;
padding-top: 40px;
margin-top: 25px;

}

a {
text-decoration: none;
color: black;

}

img {
	padding-bottom: 10px;
}

h1 { 
padding-top: 50px;
}

li { 
display: inline;
padding-bottom: 20px;
padding-right: 30px;

}

.value {
width: 150px;
height: 100px;

}